.page_header {
    background-color: #f98310f7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page_header h1, .page_header h1 a {
  color: white;
  font-size: 34pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

.date {
  color: Grey;
}

.post h1 a {
  color: black;
}

.post-form-bloge textarea {
  width:100%;
}

.post-form-bloge .btn-primary{
  float: right;
}

.top-menu, .top-menu:hover {
  color: white;
  float: right;
  font-size: 26pt;
  margin-right: 10px;
}
