{% extends 'bloge/base.html' %}

{% block title %}My blog{% endblock %}

{% block content %}
        {% for post in posts %}
            <div class="post">
              <div class="date">
                <p>Published: {{ post.published_date }}</p>
              </div>

              <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
              <p><b>{{ post.text|truncatechars:30 }}</b></p><br>
              <a href="{% url 'post_detail' pk=post.pk %}">comments: {{ post.approved_comment.count }}</a>
            </div>
        {% endfor %}
{% endblock %}

cmd /k ""%ConEmuDir%\..\init.bat" "& C:\Users\subash\Anaconda3\Scripts\activate.bat
